@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Barlow', sans-serif;
}

/* variable declarations */
:root{
    --primary:#00203FFF;
    --secondary:#ADEFD1FF;
}
body{
    background-color:#ffffff;
}
header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color:var(--primary);
    position: sticky;
    top: 0%; 
    z-index: 1; 
}
.top-list{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-top: 30px;
}
.logo{
    display: flex;
    width: 250px;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 50px;
    color:var(--secondary);
}
.search{
    width: 200px;
    height: 30px;
    margin-top: 40px;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    right: 200px;
}
.login{
    padding: 10px;
    width: 110px;
    border: 0px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 10px;
    color:var(--primary);
    letter-spacing: 1px;
    cursor: pointer;
}
.logo-name{
    margin-top: 6px;
    margin-right: 80px;
    font-size: 25px;
}
ul a{
    text-decoration: none;   
}
.seller{
    margin-top: 10px;
    color:var(--secondary);
}
.home-icon{
    padding: 10px;
    height: 35px;
    border: 0px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 5px;
    color:var(--primary);
}
.fa-search{
    color: var(--primary);
    position: relative;
    top:46px;
    right:380px;
    width: 25px;
    height:25px;
    text-align: center; 
}
/* header end */
main{
    display: flex;
    justify-content: space-evenly;
}
.rate{
    width: 40%;
    height: 200px;
    margin-left: 30px;
    margin-top: 30px;
    border: 0.5px solid white;
    padding: 20px;

}
.rating{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    width: 170px;
    margin-top: 10px;
}
.rating-1{
    display: flex;
    background-color:var(--primary);
    color: var(--secondary);
    width: 60px;
    justify-content: space-evenly;
    padding: 7px;
    border-radius:15px;
}
.fa-star{
    font-size:smaller;
    margin-top: 2px;
}
.rating p{
    margin-top:7px;
    font-weight: 700;
    font-size: small;
    color: gray;
}
.free{
    color: var(--primary);
    background-color: var(--secondary);
    width: 100px;
    margin-top: 20px;

}
.price{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10px;

}
.product-container{
    display: flex;
     box-shadow: 0px 0px 10px rgb(0,0,0,0.3);
    height: 350px;
    width: 800px;
    padding-left: 40px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 10px;
    border-left:4px solid var(--secondary) ;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
.product-container img{
    margin-top: 50px;
}
.quantity{
    display: flex;
    position: relative;
    top: 180px;
    left: 90px;
}
.quantity input{
    width: 50px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 10px;
}
.order{
    width: 240px;
    margin-top: 20px;
}
.product-container button{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    position: relative;
    top: 260px;
    border: solid var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
    right: 50px;
    box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.1);
}
.product-container img{
    margin-bottom: 40px;
}
.fa-trash{
    margin-left: 5px;
}
.total{
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgb(0,0,0,0.3);
    width: 400px;
    height: 350px;
    margin-top: 50px;
}
.total h2{
    background-color: var(--secondary);
    border-top-left-radius:10px;
    border-top-right-radius:10px;

    padding: 15px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

}
.list li{
    padding: 13px;
}
.list ul{
    text-decoration: none;
    list-style:none;
    padding-top: 30px;
}
.amount{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-top: 15px;
}
.logo a{
    text-decoration: none;
    color: var(--secondary);
}
.btn-buy{
    cursor: pointer;
}