@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Condensed&family=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Barlow', sans-serif;
}

/* variable declarations */
:root{
    --primary:#00203FFF;
    --secondary:#ADEFD1FF;
}
body{
    background-color:#ffffff;
}
header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color:var(--primary);
    position: sticky;
    top: 0%; 
    z-index: 1; 
}
.top-list{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-top: 30px;
}
.logo{
    display: flex;
    width: 250px;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 50px;
    color:var(--secondary);
}
.search{
    width: 200px;
    height: 30px;
    margin-top: 40px;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    right: 200px;
}
.login{
    padding: 10px;
    width: 110px;
    border: 0px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 10px;
    color:var(--primary);
    letter-spacing: 1px;
    cursor: pointer;
}
.logo-name{
    margin-top: 6px;
    margin-right: 80px;
    font-size: 25px;
}
ul a{
    text-decoration: none;   
}
.seller{
    margin-top: 10px;
    color:var(--secondary);
}
.home-icon{
    padding: 10px;
    height: 35px;
    border: 0px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 5px;
    color:var(--primary);
}
.fa-search{
    color: var(--primary);
    position: relative;
    top:46px;
    right:390px;
    width: 25px;
    height:25px;
    text-align: center; 
}
.login-container{
    width: 100%;
    height: 600px;
    margin-top: 110px;
    display: flex;
    justify-content: space-around;
}
.login-container-text{
    width: 500px;
    height: 500px;
    margin-left: 30px;
}

.login-container-text :nth-child(1){
    font-size: 60px;
    font-weight:bolder;
    margin-top: 70px;
    color: var(--primary);
}
.login-container-text :nth-child(2){
    margin-top: 30px;
    font-size: large;
    font-weight: 500;
    width: 600px;
    color: rgb(0, 173, 95);
}
.btn-sell{
    height: 40px;
    padding: 10px;
    width: 180px;
    position: relative;
    margin: 30px;
    bottom: 270px;
    left:100px;
    box-shadow:0px 0px 10px rgb(0,0,0,0.2);
}
.sell-btn-2{
    border: none;
    border-radius: 15px 30px;
    background-color: var(--secondary);
    color: var(--primary);
}
.svg{
    margin-bottom: 700px;
    z-index: -1;
    position: relative;
    bottom: 350px;
    
}
body{
    overflow: hidden;
}
